## Appendex
- Cick on the links:
    >1. <a href=#imports>Imports</a>
    >2. <a href=#loaddata>Load Data</a>
    >3. <a href=#dataformating>Data Formating</a>
    >4. <a href=#validat>Validate Assumption(Optional If exist)</a>
    >5. <a href=#Expl>Exploratory Data Analysis (Uni-Variable)</a>
    >6. <a href=#Explo>Exploratory Data Analysis (Multi-Variable_Relationship)</a>
    >7. <a href=#Ques> Questions & Insights </a>
    >8. <a href=#Conc> Conculsion </a>

In [25]:
#Importing libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns 
# this statement allows the visuals to render within your Jupyter Notebook
%matplotlib inline

In [26]:
df1 = pd.read_csv('VGglob.csv')

In [27]:
df1.head()

,name,platform,release_date,summary,meta_score,user_review
0,The Legend of Zelda: Ocarina of Time,Nintendo 64,23-Nov-98,"As a young boy, Link is tricked by Ganondorf, ...",99,9.1
1,Tony Hawk's Pro Skater 2,PlayStation,20-Sep-00,As most major publishers' development efforts ...,98,7.4
2,Grand Theft Auto IV,PlayStation 3,29-Apr-08,[Metacritic's 2008 PS3 Game of the Year; Also ...,98,7.7
3,SoulCalibur,Dreamcast,8-Sep-99,"This is a tale of souls and swords, transcendi...",98,8.4
4,Grand Theft Auto IV,Xbox 360,29-Apr-08,[Metacritic's 2008 Xbox 360 Game of the Year; ...,98,7.9

In [28]:
df1.drop('summary', axis=1, inplace=True)

In [29]:
df1.head()

,name,platform,release_date,meta_score,user_review
0,The Legend of Zelda: Ocarina of Time,Nintendo 64,23-Nov-98,99,9.1
1,Tony Hawk's Pro Skater 2,PlayStation,20-Sep-00,98,7.4
2,Grand Theft Auto IV,PlayStation 3,29-Apr-08,98,7.7
3,SoulCalibur,Dreamcast,8-Sep-99,98,8.4
4,Grand Theft Auto IV,Xbox 360,29-Apr-08,98,7.9

In [13]:
df2 = pd.read_csv('vgsalesGlobale.csv')

In [14]:
df2.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [15]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18800 entries, 0 to 18799
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name          18800 non-null  object
 1   platform      18800 non-null  object
 2   release_date  18800 non-null  object
 3   summary       18686 non-null  object
 4   meta_score    18800 non-null  int64
 5   user_review   18800 non-null  object
dtypes: int64(1), object(5)
memory usage: 881.4+ KB

In [38]:
df2.rename(columns = {'Name': 'name'}, inplace =True)

In [39]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          16598 non-null  int64
 1   name          16598 non-null  object
 2   Platform      16598 non-null  object
 3   Year          16327 non-null  float64
 4   Genre         16598 non-null  object
 5   Publisher     16540 non-null  object
 6   NA_Sales      16598 non-null  float64
 7   EU_Sales      16598 non-null  float64
 8   JP_Sales      16598 non-null  float64
 9   Other_Sales   16598 non-null  float64
 10  Global_Sales  16598 non-null  float64
dtypes: float64(6), int64(1), object(4)
memory usage: 1.4+ MB

In [17]:
df1.isna().sum()

name              0
platform          0
release_date      0
summary         114
meta_score        0
user_review       0
dtype: int64

In [18]:
df2.isna().sum()

Rank              0
Name              0
Platform          0
Year            271
Genre             0
Publisher        58
NA_Sales          0
EU_Sales          0
JP_Sales          0
Other_Sales       0
Global_Sales      0
dtype: int64

In [56]:
df = pd.merge(df1, df2, on='name', how='inner')

In [58]:
df.head()

,name,platform,release_date,meta_score,user_review,Rank,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,The Legend of Zelda: Ocarina of Time,Nintendo 64,23-Nov-98,99,9.1,95,N64,1998.0,Action,Nintendo,4.10,1.89,1.45,0.16,7.60
1,The Legend of Zelda: Ocarina of Time,Nintendo 64,23-Nov-98,99,9.1,269,3DS,2011.0,Action,Nintendo,2.03,1.27,0.62,0.30,4.21
2,Tony Hawk's Pro Skater 2,PlayStation,20-Sep-00,98,7.4,226,PS,2000.0,Sports,Activision,3.05,1.41,0.02,0.20,4.68
3,Tony Hawk's Pro Skater 2,PlayStation,20-Sep-00,98,7.4,1713,GBA,2001.0,Sports,Activision,0.85,0.31,0.00,0.02,1.18
4,Tony Hawk's Pro Skater 2,PlayStation,20-Sep-00,98,7.4,2707,N64,2001.0,Sports,Activision,0.59,0.16,0.00,0.01,0.76

In [52]:
#df.drop('platform', axis=1, inplace=True)

In [53]:
#df.drop('release_date', axis=1, inplace=True)

In [63]:
df.head(20)

,name,platform,release_date,meta_score,user_review,Rank,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,The Legend of Zelda: Ocarina of Time,Nintendo 64,23-Nov-98,99,9.1,95,N64,1998.0,Action,Nintendo,4.10,1.89,1.45,0.16,7.60
1,The Legend of Zelda: Ocarina of Time,Nintendo 64,23-Nov-98,99,9.1,269,3DS,2011.0,Action,Nintendo,2.03,1.27,0.62,0.30,4.21
2,Tony Hawk's Pro Skater 2,PlayStation,20-Sep-00,98,7.4,226,PS,2000.0,Sports,Activision,3.05,1.41,0.02,0.20,4.68
3,Tony Hawk's Pro Skater 2,PlayStation,20-Sep-00,98,7.4,1713,GBA,2001.0,Sports,Activision,0.85,0.31,0.00,0.02,1.18
4,Tony Hawk's Pro Skater 2,PlayStation,20-Sep-00,98,7.4,2707,N64,2001.0,Sports,Activision,0.59,0.16,0.00,0.01,0.76
5,Tony Hawk's Pro Skater 2,Dreamcast,6-Nov-00,97,6.2,226,PS,2000.0,Sports,Activision,3.05,1.41,0.02,0.20,4.68
6,Tony Hawk's Pro Skater 2,Dreamcast,6-Nov-00,97,6.2,1713,GBA,2001.0,Sports,Activision,0.85,0.31,0.00,0.02,1.18
7,Tony Hawk's Pro Skater 2,Dreamcast,6-Nov-00,97,6.2,2707,N64,2001.0,Sports,Activision,0.59,0.16,0.00,0.01,0.76
8,Tony Hawk's Pro Skater 2,Game Boy Advance,30-May-01,95,6.9,226,PS,2000.0,Sports,Activision,3.05,1.41,0.02,0.20,4.68
9,Tony Hawk's Pro Skater 2,Game Boy Advance,30-May-01,95,6.9,1713,GBA,2001.0,Sports,Activision,0.85,0.31,0.00,0.02,1.18
10,Tony Hawk's Pro Skater 2,Game Boy Advance,30-May-01,95,6.9,2707,N64,2001.0,Sports,Activision,0.59,0.16,0.00,0.01,0.76
11,Tony Hawk's Pro Skater 2,PC,25-Oct-00,91,8.5,226,PS,2000.0,Sports,Activision,3.05,1.41,0.02,0.20,4.68
12,Tony Hawk's Pro Skater 2,PC,25-Oct-00,91,8.5,1713,GBA,2001.0,Sports,Activision,0.85,0.31,0.00,0.02,1.18
13,Tony Hawk's Pro Skater 2,PC,25-Oct-00,91,8.5,2707,N64,2001.0,Sports,Activision,0.59,0.16,0.00,0.01,0.76
14,Tony Hawk's Pro Skater 2,Nintendo 64,21-Aug-01,84,8.8,226,PS,2000.0,Sports,Activision,3.05,1.41,0.02,0.20,4.68
15,Tony Hawk's Pro Skater 2,Nintendo 64,21-Aug-01,84,8.8,1713,GBA,2001.0,Sports,Activision,0.85,0.31,0.00,0.02,1.18
16,Tony Hawk's Pro Skater 2,Nintendo 64,21-Aug-01,84,8.8,2707,N64,2001.0,Sports,Activision,0.59,0.16,0.00,0.01,0.76
17,Grand Theft Auto IV,PlayStation 3,29-Apr-08,98,7.7,52,X360,2008.0,Action,Take-Two Interactive,6.76,3.10,0.14,1.03,11.02
18,Grand Theft Auto IV,PlayStation 3,29-Apr-08,98,7.7,57,PS3,2008.0,Action,Take-Two Interactive,4.76,3.76,0.44,1.62,10.57
19,Grand Theft Auto IV,PlayStation 3,29-Apr-08,98,7.7,2359,PC,2008.0,Action,Take-Two Interactive,0.01,0.79,0.00,0.08,0.88

In [59]:
df.isna().sum()

name              0
platform          0
release_date      0
meta_score        0
user_review       0
Rank              0
Platform          0
Year            411
Genre             0
Publisher         9
NA_Sales          0
EU_Sales          0
JP_Sales          0
Other_Sales       0
Global_Sales      0
dtype: int64

In [60]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18607 entries, 0 to 18606
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name          18607 non-null  object
 1   platform      18607 non-null  object
 2   release_date  18607 non-null  object
 3   meta_score    18607 non-null  int64
 4   user_review   18607 non-null  object
 5   Rank          18607 non-null  int64
 6   Platform      18607 non-null  object
 7   Year          18196 non-null  float64
 8   Genre         18607 non-null  object
 9   Publisher     18598 non-null  object
 10  NA_Sales      18607 non-null  float64
 11  EU_Sales      18607 non-null  float64
 12  JP_Sales      18607 non-null  float64
 13  Other_Sales   18607 non-null  float64
 14  Global_Sales  18607 non-null  float64
dtypes: float64(6), int64(2), object(7)
memory usage: 2.3+ MB

In [62]:
df.tail(20)

,name,platform,release_date,meta_score,user_review,Rank,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
18587,Aquaman: Battle for Atlantis,Xbox,30-Jul-03,26,2.6,16252,GC,2003.0,Action,TDK Mediactive,0.01,0.00,0.0,0.00,0.01
18588,Mucha Lucha! Mascaritas of the Lost Code,Game Boy Advance,18-Nov-03,26,3.9,11847,GBA,2003.0,Fighting,Ubisoft,0.05,0.02,0.0,0.00,0.07
18589,Stake: Fortune Fighters,Xbox,6-May-03,26,3.6,14941,XB,2003.0,Fighting,Metro 3D,0.02,0.01,0.0,0.00,0.02
18590,HBO Boxing,PlayStation,20-Nov-00,26,4,7393,PS,2000.0,Fighting,Acclaim Entertainment,0.12,0.08,0.0,0.01,0.21
18591,KISS Pinball,PlayStation,25-Apr-01,26,5,5748,PS,2001.0,Action,Take-Two Interactive,0.17,0.12,0.0,0.02,0.31
18592,Tenkai Knights: Brave Battle,3DS,7-Oct-14,26,2.9,15435,3DS,2014.0,Action,Namco Bandai Games,0.01,0.01,0.0,0.00,0.02
18593,Leisure Suit Larry: Box Office Bust,Xbox 360,31-Mar-09,25,2.5,8477,X360,2009.0,Adventure,Codemasters,0.14,0.01,0.0,0.01,0.16
18594,Leisure Suit Larry: Box Office Bust,Xbox 360,31-Mar-09,25,2.5,10469,PS3,2009.0,Adventure,Codemasters,0.06,0.03,0.0,0.01,0.10
18595,Leisure Suit Larry: Box Office Bust,PC,31-Mar-09,20,2,8477,X360,2009.0,Adventure,Codemasters,0.14,0.01,0.0,0.01,0.16
18596,Leisure Suit Larry: Box Office Bust,PC,31-Mar-09,20,2,10469,PS3,2009.0,Adventure,Codemasters,0.06,0.03,0.0,0.01,0.10
18597,Game Party,Wii,27-Nov-07,25,3.9,611,Wii,2007.0,Misc,Midway Games,1.50,0.78,0.0,0.24,2.52
18598,Cruis'n,Wii,27-Nov-07,25,4,9899,Wii,2007.0,Racing,Midway Games,0.10,0.01,0.0,0.01,0.12
18599,Gravity Games Bike: Street Vert Dirt,PlayStation 2,27-Jun-02,24,3.4,10424,PS2,2002.0,Sports,Midway Games,0.05,0.04,0.0,0.01,0.10
18600,Pulse Racer,Xbox,2-Jan-03,24,2.2,15670,XB,2003.0,Racing,Jaleco,0.01,0.00,0.0,0.00,0.02
18601,Fighter Within,Xbox One,19-Nov-13,23,2.8,7875,XOne,2013.0,Fighting,Ubisoft,0.11,0.07,0.0,0.02,0.19
18602,Homie Rollerz,DS,5-Mar-08,23,3,11936,DS,2008.0,Racing,Destineer,0.07,0.00,0.0,0.01,0.07
18603,Charlie's Angels,GameCube,9-Jul-03,23,4.3,15524,GC,2003.0,Action,Ubisoft,0.01,0.00,0.0,0.00,0.02
18604,Fast & Furious: Showdown,Xbox 360,21-May-13,22,1.3,13356,X360,2013.0,Action,Activision,0.00,0.04,0.0,0.00,0.05
18605,Fast & Furious: Showdown,Xbox 360,21-May-13,22,1.3,14106,PS3,2013.0,Action,Activision,0.00,0.03,0.0,0.00,0.03
18606,Drake of the 99 Dragons,Xbox,3-Nov-03,22,1.7,12017,XB,NaN,Shooter,Unknown,0.05,0.01,0.0,0.00,0.07